:root {
    --button-bg: #264b5d !important;
}

#header, .module caption {
    background-color: #212529; 
    /* #1f3e3b */
}
#branding {
    font-size: 14px !important;
    /* font-weight: bold; */
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif !important;
}

body {
    background-color: #7d99b7 !important;
    line-height: 1.2 !important;
    font-size: 14px !important;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif !important;
}

/* .breadcrumbs {
    background: #264b5d !important;
    font-size: 14px !important;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif !important;
} */

.login #content {
    background: #4c5ccb !important;
}

.login .form-row label {
    color: #e3e1e1 !important;
    font-weight: 600 !important;
}

input[type=submit] {
    background: #2a2c30 !important;
    color: #fff !important;
}

caption {
    caption-side: top !important;
}

.results {
    padding: 10px;
    background-color: #191a1c;
}

.django-ckeditor-widget {
    width: 100%;
}

.cke_browser_webkit {
    width: 100%;
}

.django-ckeditor-widget div[role=application] {
    width: 100% !important;
}

/* .module h3 {
    margin-top: 0.1em;
}

#test_editor .card-body {
    background: rgb(34 33 33) !important;
}

#content h1 {
    font-weight: 300 !important;
    font-size: 20px !important;
    color: var(--body-quiet-color) !important;
}

#content h2 {
    font-weight: bold !important;
    font-size: 16px !important;
    color: var(--body-quiet-color) !important;
} */