#header, .module caption {
    background-color: #212529; 
    /* #1f3e3b */
}

body {
    background-color: #273e7e;
}

.results {
    padding: 10px;
    background-color: #191a1c;
}

.django-ckeditor-widget {
    width: 100%;
}

.cke_browser_webkit {
    width: 100%;
}

.django-ckeditor-widget div[role=application] {
    width: 100% !important;
}