@import 'bootstrap/scss/bootstrap';


$sm: 576px;
$md: 768px;
$lg: 992px;	
$xl: 1200px;
$xxl: 1400px;
$sidebar-text-color: rgb(167, 197, 202);

body {
    overflow: hidden !important;
}


.main-wrapper {
    width: 100%;
    min-height: 100vh;
    background-blend-mode: darken;  
    /* background-color: rgb(39 62 126); */
    background-color: #3445b4;
    /* background-image: url(images/forum.jpg); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: auto;
    height: 100vh;

    .list-group-item {
        background-color: #666f7091;
        margin-top: 2px;
        margin-bottom: 2px;
        border-radius: 13px;
    }

    .list-group-item.list-section-item:hover {
        background-color: #7e8c8e91;
    }
}

.list-group-item.list-section-item a {
    text-decoration: none;
}
.wrappering-link {
    text-decoration: none;
}
.actions-bar a {
    margin-right: 5px;
}

.content-section {
    color: aliceblue;
    text-shadow: 0 0 10px #999494;
}

.comment-list {
    .card {
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    .card-footer {
        background-color: rgb(163 183 182 / 29%);
        border-radius: 15px;
    }
    
    .card-footer .btn {
        margin-left: 5px;
    }
}


.profile-section {
    background-color: #68839747;

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }
      
    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }
      
    .profile-button:hover {
        background: #682773
    }

    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }
      
    .profile-button:active {
        background: #682773;
        box-shadow: none
    }
      
    .back:hover {
        color: #682773;
        cursor: pointer
    }
      
    .labels {
        font-size: 11px
    }
      
    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
}


.catalog-category-list {
    .nav-link {
        color: rgb(167, 197, 202);
    }
    .nav-link.active {        
        border-bottom: 3px solid rgba(116, 197, 153, 0.842);
    }
} 
.course-description-section-list {
    .nav-link {
        color: rgb(167, 197, 202);
    }
    .nav-link.active {        
        border-bottom: 3px solid rgba(148, 190, 212, 0.842);
    }
}

// .catalog-list-card {
//     height: 120px;
// }

.start-course-btn {
    font-size: 20px;
}

.plan-course-btn {
    font-size: 20px;
}

.social-icons {
    .list-group-item {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        padding: 0px 5px;
        img {
            width: 30px;
        }
    }
}

.offcanvas-btn-sidebar {
    width: 60px;
    position: absolute;
}
.course-banner {
    width: 100%;
    height: 100%;
    background-color: rgb(126, 189, 251);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

#course-sidebar {
    position: relative;
    min-height: 100vh;
    min-width: 270px;
    max-width: 270px;
    background: #3445b4;
    color: #fff;
    transition: all 0.3s;
    margin-left: -270px;
    &.rolled-up {
        margin-left: 0px;
    }
    .accordion-item {
        border: none;
        .accordion-body {
            padding: 0px;
        }     
    }

    .sidebar-menue-accordion {
        border: none;
        color: $sidebar-text-color;
        button {
            padding: 10px 0px;
            background-color:rgba(0, 0, 0, 0);
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.646);
            border-radius: 0px;
            color: $sidebar-text-color;
            &::after {                
                filter: invert(1);
            }
        }
    }

    @media (max-width: 768px) {
        position: fixed;
    }

    @media (max-width: 992px) {
        &.rolled-up {            
            margin-left: 0px;
        }
    }
    
    .course-sidebar-fixator {
        position: fixed;
        max-width: inherit;
        min-width: inherit;
        height: 100%;
        .scrolling-content {
            height: 100%;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 5px;
                background-color: rgb(24 26 26);
            }
            &::-webkit-scrollbar-track {
                // width: 3px;
                background-color: rgb(48, 69, 74);
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgb(129 223 212);

            }
            
        }
    }
    .custom-menu {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 0;
        margin-right: -20px;
        transition: inherit;

        @media (max-width: 768px) {
            top: 38px;
        }
        #sidebarCollapse {
            background: transparent;
            border-color: transparent;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: relative;
            i {
                margin-right: -40px;
                font-size: 20px;
            }

            &::after {
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                transform: rotate(45deg);
                background: #3445b4;
                border-radius: 10px;
            }
        }
    }
    
    .nav-link {
        color: rgb(167, 197, 202);
        &.active {
            background-color: rgba(0, 0, 0, 0);
            color: #dbbf70;
        }
    }
}

#course-content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#course-wrapper {
    overflow: auto;
    height: 100vh;
}

