@import 'bootstrap/scss/bootstrap';


$sm: 576px;
$md: 768px;
$lg: 992px;	
$xl: 1200px;
$xxl: 1400px;


.catalog-category-list {
    .nav-link {
        color: rgb(47, 173, 47);
    }
    .nav-link.active {        
        border-bottom: 3px solid rgba(116, 197, 153, 0.842);
    }
} 
.course-description-section-list {
    .nav-link {
        color: rgb(167, 197, 202);
    }
    .nav-link.active {        
        border-bottom: 3px solid rgba(148, 190, 212, 0.842);
    }
}

// .catalog-list-card {
//     height: 120px;
// }

.start-course-btn {
    font-size: 20px;
}

.plan-course-btn {
    font-size: 20px;
}

.social-icons {
    .list-group-item {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        padding: 0px 5px;
        img {
            width: 30px;
        }
    }
}

.offcanvas-btn-sidebar {
    width: 60px;
    position: absolute;
}

#course-sidebar {
    position: relative;
    min-height: 100vh;
    min-width: 270px;
    max-width: 270px;
    background: #3445b4;
    color: #fff;
    transition: all 0.3s;
    margin-left: -270px;
    &.rolled-up {
        margin-left: 0px;
    }

    @media (max-width: 768px) {
        position: fixed;
    }

    @media (max-width: 992px) {
        &.rolled-up {            
            margin-left: 0px;
        }
    }
    
    .inner-content {
        position: fixed;
        max-width: inherit;
    }
    .custom-menu {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 0;
        margin-right: -20px;
        transition: inherit;

        @media (max-width: 768px) {
            top: 38px;
        }
        #sidebarCollapse {
            background: transparent;
            border-color: transparent;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: relative;
            i {
                margin-right: -40px;
                font-size: 20px;
            }

            &::after {
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                transform: rotate(45deg);
                background: #3445b4;
                border-radius: 10px;
            }
        }
    }
    
    .nav-link {
        color:rgb(167, 197, 202);
        &.active {
            background-color: rgba(0, 0, 0, 0);
            color: #dbbf70;
        }
    }
}

#course-content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

// #course-wrapper {

// }
