@import 'bootstrap/scss/bootstrap';


$sm: 576px;
$md: 768px;
$lg: 992px;	
$xl: 1200px;
$xxl: 1400px;
$bg-color: #bdc0cf;
$main-text-color: #343640;
$heading-text-color: #31377a;
$heading-text-shadow: 1px 1px 1px #ffffe3;

* {
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: #a0a2a8;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #447996;
        border-radius: 20px;
        // border: 3px solid rgb(66, 166, 199);

        &:active {
            background-color: #99c2d9;
        }
    }
    &::-webkit-scrollbar-button {
        background-color: #404650;
        height: 0px;
    }
}

#signin-btn, #personal-btn {
    color: white;
    transition-duration: 200ms;
    font-size: 14px;
    &:hover {
        color: #bfc1c8;
        box-shadow: inset 0px 0px 3px 1px white;
    }
}
#signup-btn, #logout-btn {
    color: rgb(39, 39, 39);
    transition-duration: 200ms;
    font-weight: 500;
    font-size: 14px;
    &:hover {
        color: #383838;
        box-shadow: inset 0px 0px 3px 1px rgb(127, 78, 27);
    }
}

.navbar-brand {
    text-shadow: 0 0 2px white, 0 0 3px blue, 0 0 3px blue, 0 0 3px blue, 0 0 3px blue, 0 0 3px blue, 0 0 3px blue, 0 0 3px blue;
    font-size: 25px;
}

.navigation-header {
    height: 58px;
    &__navbar {
        height: inherit;
        background-color: #3445b4;
    }
    &__buttons {
        background-color: #3445b4;
    }
    @media (max-width: $md) {
        .collapse {
            padding: 0 0 10px 0;
        }
    }
}

.main-wrapper {
    width: 100%;
    min-height: 100vh;
    // background-blend-mode: darken;
    /* background-color: rgb(39 62 126); */
    background-color: $bg-color;
    background-image: url(images/arrows_pattern.png); 
    background-position: center;
    background-blend-mode: soft-light;
    background-size: 300px 300px;
    background-attachment: fixed;
    background-repeat: repeat;
    // overflow: auto;
    height: auto;

    h1 {
        color: $heading-text-color;
        text-shadow: $heading-text-shadow;
    }

    .catalog-search {
        height: 40px;
    }
    
    .list-group-item.list-section-item:hover {
        background-color: #7e8c8e91;
    }
}

.list-group-item.list-section-item a {
    text-decoration: none;
}
.wrappering-link {
    text-decoration: none;
}
.actions-bar a {
    margin-right: 5px;
}

.content-section {
    color: aliceblue;
    text-shadow: 0 0 10px #999494;
}

.comment-list {
    .card {
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    .card-footer {
        background-color: rgb(163 183 182 / 29%);
        border-radius: 15px;
    }
    
    .card-footer .btn {
        margin-left: 5px;
    }
}


.profile-section {
    background-color: #68839747;

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }
      
    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }
      
    .profile-button:hover {
        background: #682773
    }

    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }
      
    .profile-button:active {
        background: #682773;
        box-shadow: none
    }
      
    .back:hover {
        color: #682773;
        cursor: pointer
    }
      
    .labels {
        font-size: 11px
    }
      
    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
}

.course-description-section-list, .catalog-category-list {
    .nav-link {
        color: $main-text-color;
        cursor: pointer;
        // &:hover {

        // }
    }
    .nav-link.active {        
        border-bottom: 3px solid rgba(55, 203, 99, 0.842);
    }
}

// .catalog-list-card {
//     height: 120px;
// }
.course-catalog-tab-content {
    .course-full-description {
        color: $main-text-color;
        &__title, h1, h2 {
            color: $heading-text-color;
            text-shadow: $heading-text-shadow;
        }
        p {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.section-title {
    color: $heading-text-color;
    text-shadow: $heading-text-shadow;
}

.start-minitip {
    font-size: 13px;
    font-weight: 400;
    color: gray;
    text-align: center;
}

.start-course-btn {
    font-size: 18px !important;
    font-weight: 400 !important;
    transition-duration: 300ms;
    box-shadow: inset 0 0 0px 0px #09a709;
    &:hover {
        box-shadow: inset 0 0 6px 2px green;
    }
}

.plan-course-btn {
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #262542;
    transition-duration: 300ms;
    box-shadow: inset 0 0 0px 0px #cf9612;
    &:hover {
        color: #3b3954;
        box-shadow: inset 0 0 6px 2px #805a00;
    }
}

.social-icons {
    .list-group-item {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        padding: 0px 5px;
        img {
            width: 30px;
        }
    }
}

.offcanvas-btn-sidebar {
    width: 60px;
    position: absolute;
}
.course-banner {
    width: 100%;
    height: 100%;
    background-color: rgb(126, 189, 251);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}



.main-spinner {
    width: 200px;
    height: 200px;
    border-width: 20px;
    filter: drop-shadow(2px 4px 13px white);
    // box-shadow: 0 0 20px 20px white;
    // border-bottom-color: white;
    // border-top-color: white;
    // border-left-color: aqua;
    // border-right-color: aqua;
}

.video-lecture{
    &__iframe {
        height: 300px;
        width: 100%;

        // @media(min-width: $md) {
        //     height: 370px;
        //     width: 90%;
        // }

        @media(min-width: $lg) {
            height: 440px;
            width: 90%;
        }
        
        @media(min-width: $xl) {
            height: 490px;
            width: 900px;
        }
        
        @media(min-width: $xxl) {
            height: 520px;
            width: 1024px;
        }
        
    }

}

.course-catalog-authors-section, .course-undergoing-authors-page {
    .author-card {
        margin: 10px 0px !important;

        &__img-wrapper {
            width: 100px;
            height: 100px;
            padding: 0;
            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }
        // &__name {
            
        // }
        // &__desc {
    
        // }
        // &__description-wrapper {
    
        // }
    }
}


.course-review {
    margin: 10px 0;
    background-color: #c9d1d3;
    box-shadow: 0 0 2px 2px white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100%;
    
    &__header {
        padding-bottom: 5px;
    }
    &__title-wrapper {
        padding: 0 5px;
    }
    &__username {
        padding: 0 5px;
        font-size: 20px;
        color: #414144;
    }
    &__updated-at {
        padding: 0 5px;
        font-size: 16px;
        color: #555555;
    }
    &__img-wrapper {
        width: 50px;
        height: 50px;
        padding: 0;
        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }
    &__content-wrapper {
        font-weight: 500;
    }
}

.catalog-card-wrapper {
    // background-color: #666f7091;
    margin: 0 0 20px 0;
    border-radius: 0;
    // box-shadow: -2px 1px 3px 1px #5e5e5e;
    
    .catalog-card {
        border: none;
        background-color: #e1e7ee;
        border-radius: 5px;
        height: 400px;
        transition-duration: 200ms;
        transition-property: all;
        transition-timing-function: linear;
        box-shadow: 0px 0px 2px 1px #5e5e5e;

        &__linked-wrapper {
            text-decoration: none;
            cursor: pointer;
        }
        &__img-wrapper {
            height: 200px;
            position: relative;
        }
        &__img {
            width: 100%;
            height: 100%;
        }
        &__org-img-link {
            width: 50px;
            height: 50px;
            position: absolute;
            bottom: -10px;
            right: 10px;
            &:hover {
                box-shadow: 0px 0px 3px 1px #c3c3c3;
            }
        }
        &__org-img {
            width: 100%;
            height: 100%;
        }
        &__body {
            // .card-title {

            // }
            color: #2d2d2d;
            font-weight: 500;
        }
        &__footer {
            color: #5c5c5c;
            text-shadow: none;
            font-weight: 500;
        }
        &:hover {
            box-shadow: -2px 1px 10px 1px #5e5e5e;
        }
    }

    &__link-wrapper {
        white-space: nowrap;
    }
}

.review-form {
    transition-duration: 200ms;
    transition-property: all;
    &__submit {
        width: fit-content;
        font-size: 16px;
    }
}

.open-review-form-btn {
    background-color: #198754;
    width: fit-content;
    &.disabled {
        background-color: #699681;
        border-color: #699681;
        opacity: 1;
    }
    &__wrapper {
        
    }
    &__label {
        padding-left: 5px;
        color: #5c5c5c;
        text-shadow: none;
        font-weight: 500;
    }
}
